.images{
  max-width:40%;
  position:relative;
  display:inline-block;
}

.image{
  width:100%;
}

.image img{
  max-width:100%;
}

.white .arrow div{
  border-color:transparent #6C7A89 #6C7A89 transparent;
}

.colored .arrow div{
  border-color:transparent white white transparent;
}

.arrow{
  position:absolute;
  top:45%;
  opacity:0.5;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
}

.arrow:hover{
  opacity:1;
}

.arrow div{
  border-style:solid;
  width:2vw;
  height:2vw;
  border-width:1px 2px 2px 1px;
}

.left{
  left:-10%;
}

.left div{
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(125deg);
  -o-transform:rotate(135deg);
  transform:rotate(135deg);
}

.right{
  right:-10%;
}

.right div{
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.r1{
  font-size:1.75em !important;
}

.r3{
  font-size:1em !important;
}
